[submodule "owosm"]
	path = owosm
	url = https://github.com/notflawffles/owosm
[submodule "owovm"]
	path = owovm
	url = https://github.com/notflawffles/owovm
[submodule "owodisasm"]
	path = owodisasm
	url = https://github.com/NotFlawffles/owodisasm
